<!DOCTYPE HTML>
<HTML>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <label id="title">MODULES</label>
            </div>
            <div id="body">
                <div id="divModules">
                    <a href="/admin/login">
                        <div class="card">
                            <label>ADMIN 123</label>
                        </div>
                    </a>
                    <a href="/customer/login">
                        <div class="card">
                            <label>CLIENTS</label>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            
        });
    </script>
    </body>
</HTML>